<template>
  <div id="about">
    <AboutUsCard
      class="card"
      title="Lorem ipsum"
      body="Anyone can paint. If we're going to have animals around."
    />
    <AboutUsCard
      class="card"
      title="Lorem ipsum"
      body="Just let your mind wander and enjoy. This should make you happy. "
    />
    <AboutUsCard
      class="card"
      title="Lorem ipsum"
      body="It is a lot of fun. With practice comes confidence."
    />
  </div>
</template>


<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import AboutUsCard from '@/components/AboutUsCard.vue';

@Component({
  components: { AboutUsCard },
})
export default class About extends Vue {}
</script>

<style lang="scss" scoped>
#about {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  .card {
    margin: 8px;
  }
}

@media screen and (max-width: 1024px) {
  #about {
    justify-content: center;
  }
}
</style>

