<template>
  <div class="container">
    <div class="card">
      <form @submit.prevent="submit">
        <md-field :class="messageClass">
          <label>Name</label>
          <md-input v-model="name" required></md-input>
          <span class="md-error">There is an error</span>
        </md-field>
        <md-field :class="messageClass">
          <label>Email</label>
          <md-input type="email" v-model="email" required></md-input>
          <span class="md-error">There is an error</span>
        </md-field>
        <md-field>
          <label>Message</label>
          <md-textarea v-model="message"></md-textarea>
        </md-field>
        <md-button type="submit" class="md-raised md-primary submit">SEND</md-button>
      </form>
      <p style="clear:both;" v-if="lastSubmitValue">{{lastSubmitValue}}</p>
    </div>
  </div>
</template>
<script>
import Vue from 'vue';

export default {
  data: () => ({
    name: '',
    email: '',
    message: '',
    lastSubmitValue: null,
  }),
  computed: {
    messageClass() {
      return {
        'md-invalid': this.hasMessages,
      };
    },
  },
  methods: {
    submit() {
      this.lastSubmitValue = `Sucessfully saved data! name: ${
        this.name
      }, email: ${this.email}, message: ${this.message}`;
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~vue-material/dist/theme/engine';
@include md-register-theme(
  'default',
  (
    primary: #ff7428,
    accent: #2196f3,
  )
);
@import '~vue-material/dist/components/MdField/theme.scss';
@import '../variables.scss';
// overwriting material styles
.md-field.md-has-textarea:not(.md-autogrow) label {
  left: 0;
  top: unset;
  bottom: 0;
}
.md-field.md-has-textarea:not(.md-autogrow) .md-textarea {
  padding: 0;
}
$default-border-color: #949494;
.md-field.md-has-textarea:not(.md-autogrow):after,
.md-field.md-has-textarea:not(.md-autogrow):before {
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  transition: 0.5s cubic-bezier(10s, 0.8, 0.25, 1);
}
.md-field.md-has-textarea.md-focused:not(.md-autogrow):after,
.md-field.md-has-textarea.md-focused:not(.md-autogrow):before {
  border-bottom: 2px solid $pgs-orange;
}
.md-field.md-focused.md-has-textarea label,
.md-field.md-has-value.md-has-textarea label {
  top: 100% !important;
  transition: 0.5s cubic-bezier(10s, 0.8, 0.25, 1);
}
// /overwriting material styles
.card {
  padding: 3rem 7rem 4rem 7rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
}
@media screen and (max-width: 1024px) {
  .card {
    padding: 3rem;
    padding-bottom: 4rem;
  }
}
.md-field {
  label:after {
    color: #ff7428;
  }
}
.submit {
  background-color: #2196f3;
  color: white;
  float: right;
  margin-right: 0;
}
.container {
  min-height: calc(100vh - #{$header-height} - #{$footer-height} - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>


