<template>
  <div class="cams">
    <CamCard class="card" place="Andalo" :src1="andaloSrc1" :src2="andaloSrc2"/>
    <CamCard class="card" place="Monte Bondone" :src1="monteBondone1" :src2="monteBondone2"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import Camera from '../components/Camera.vue';
import { Prop } from 'vue-property-decorator';
import { CamPlace } from '../models/CamPlace';
import CamCard from '../components/CamCard.vue';

@Component({
  components: { CamCard },
})
export default class Skicams extends Vue {
  public andaloSrc1 = '';
  public andaloSrc2 = '';
  public monteBondone1 = '';
  public monteBondone2 = '';

  protected async mounted() {
    const places = await this.getData();
    this.setImages(places);
  }

  private setImages(places: CamPlace[]) {
    this.andaloSrc1 = this.getRandomImageSrcByPlaceName(places, 'Andalo');
    this.andaloSrc2 = this.getRandomImageSrcByPlaceName(places, 'Andalo');
    this.monteBondone1 = this.getRandomImageSrcByPlaceName(
      places,
      'Monte Bondone'
    );
    this.monteBondone2 = this.getRandomImageSrcByPlaceName(
      places,
      'Monte Bondone'
    );
  }

  private async getData(): Promise<CamPlace[]> {
    const headers = new Headers();
    headers.append(
      'X-Mashape-Key',
      'kxSXmUymofmshFHhhKxWOSJpqJsJp1I3zNnjsnqKwhITAiC1zw'
    );
    headers.append('Accept', 'application/json');
    const res = await fetch(
      `https://makevoid-skicams.p.mashape.com/cams.json`,
      {
        headers,
      }
    );
    const json = await res.json();
    //mapping object response to array of objects
    const places: CamPlace[] = Object.keys(json).map(key => {
      const p = json[key];
      p.cams = Object.values(p.cams);
      return p;
    });

    return places;
  }

  private getRandomImageSrcByPlaceName(
    places: CamPlace[],
    name: string
  ): string {
    const placeholderImg = '../assets/spinner.gif';
    const selected = places.filter(p => p.name === name);
    if (selected.length > 0 && selected[0].cams.length > 0) {
      const rand = Math.floor(Math.random() * selected[0].cams.length);
      const cam = selected[0].cams[rand];
      if (cam.url) {
        return cam.url;
      }
    }
    return placeholderImg;
  }
}
</script>

<style lang="scss" scoped>
.cams {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  .card {
    margin: 16px;
  }
}
</style>


