<template>
  <div class="card">
    <img src="../assets/dog1.jpg">
    <div class="body">
      <h2>{{title}}</h2>
      <p>{{body}}</p>
    </div>
  </div>
</template>


<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({
  props: ['title', 'body'],
})
export default class AboutUsCard extends Vue {}
</script>

<style lang="scss" scoped>
$width: 310px;
.card {
  width: $width;
  min-height: $width;
  display: inline-block;
  vertical-align: top;

  img {
    width: $width;
    height: 175px;
    object-fit: cover;
  }

  .body {
    padding: 1rem;
  }
}
</style>


