<template>
  <div class="card">
    <p class="date">{{date}}</p>
    <h2>{{place}}</h2>
    <object class="img" :data="src1" type="image/jpg"></object>
    <object class="img" :data="src2" type="image/jpg"></object>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  props: {
    place: String,
    src1: String,
    src2: String,
  },
  computed: {
    date: () => {
      const d = new Date();
      return (
        ('0' + d.getDate()).slice(-2) +
        '-' +
        ('0' + (d.getMonth() + 1)).slice(-2) +
        '-' +
        d.getFullYear()
      );
    },
  },
});
</script>



<style lang="scss" scoped>
.card {
  width: 45%;
  min-width: 288px;
  flex-grow: 1;
  text-align: center;
  padding: 8px;
  overflow: hidden;
  max-width: 470px;
  .date {
    display: block;
    text-align: right;
    line-height: 0;
    color: lightgray;
    font-size: 0.8rem;
  }
  .img {
    background-image: url('../assets/spinner.gif');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 100%;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
  }
}
</style>

