<template>
  <div id="app">
    <header>
      <div class="header-container">
        <div>
          <img class="logo" src="./assets/pgs-logo.svg">
        </div>
        <router-link class="nav-pill" to="/about">
          <span>About us</span>
        </router-link>
        <router-link class="nav-pill" to="/skicams">
          <span>Skicams</span>
        </router-link>
        <router-link class="nav-pill" to="/contact">
          <span>Contact</span>
        </router-link>
      </div>
    </header>
    <div class="content">
      <router-view/>
    </div>
    <footer>
      <span>Powered by PGS</span>
    </footer>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({});
</script>


<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700'");
@import 'variables.scss';

html {
  height: 100%;
}
body {
  background-color: #f8f8f8;
  color: $primary-text-color;
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

// spacing to footer so it wont overlap
body::after {
  content: '';
  display: block;
  height: $footer-height;
}

#app {
  display: flex;
  flex-direction: column;
}

a {
  color: $primary-text-color;
  text-decoration: none;
}

header {
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  height: $header-height;
  .header-container {
    max-width: $viewport-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    padding: 8px;

    .logo {
      width: 120px;
      margin-bottom: 1.5rem;
    }

    .nav-pill {
      text-transform: uppercase;
      padding-bottom: 0.5rem;
      white-space: nowrap;
      font-weight: 500;
    }
    .nav-pill:not(:last-child) {
      margin-right: 60px;
    }
    @media screen and (max-width: 375px) {
      .nav-pill:not(:last-child) {
        margin-right: 50px;
      }
    }
    .nav-pill.router-link-exact-active {
      color: $pgs-orange;
      border-bottom: 3px solid $pgs-orange;
    }
  }
}

@media screen and (min-width: 1024px) {
  .content {
    width: $viewport-width;
  }
}
@media screen and (max-width: 1024px) {
  .content {
    max-width: $viewport-width;
  }
}
.content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

footer {
  background-color: #282828;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    width: 320px;
    color: $text-color;
    border-top: 1px solid $text-color;
  }
}

.card {
  background-color: #fff;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
}

a:not(.md-button):hover {
  text-decoration: none !important;
}
</style>
